body {
    background: #2ca07f;
    font-family: arial;
}

#titel {
    font-family: arial;
    font-size: 32pt;
    text-align: center;
}

#speler1 {
    padding:10px;
    border-radius:20px;
    background: #43a8c6;
    color:white;
}

#speler2 {
    padding:10px;
    border-radius:20px;
    background: #c15e5e;
    color:white;
}


#field {
   position: absolute;
   top:150px;
   left:5vw;
}

.cross {
    width:80%;
    height:80%;
    margin:auto;
    margin-top: 8%;
    border: solid 10px #43a8c6;
}
  

.circle {
width: 80%;
height: 80%;
margin:auto;
margin-top: 8%;
border: solid 10px #c15e5e;
-moz-border-radius: 1000px;
-webkit-border-radius: 1000px;
border-radius: 1000px;
}
#field-* {
    background :  white;
    border :  #686868 3px solid;
    background :  white ;
    width :  28vw ;
    height :  28vw ;
    display : inline-block ;
    margin-left : -4px ;
    margin-bottom : -7px ;
    padding :0;
}

